@model TicariOtomasyon.Models.Siniflar.AltDegerSinif
@{
    ViewBag.Title = "KategoriAlt";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>KategoriAlt</h2>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>

    $(function () {

        $('#DrpKategori').change(function () {

            var id = $('#DrpKategori').val();

            $.ajax({

                url: '/Kategori/UrunGetir',

                data: { p: id },

                type: "POST",

                dataType: "Json",

                success: function (data) {

                    console.log(data);

                    $('#DrpUrun').empty();

                    for (var i = 0; i < data.length; i++) {

                        $('#DrpUrun').append("<option value='" + data[i].Value + "'>" + data[i].Text + "</Option>");

                    }

                }

            });

        });

    });

</script>

<div>
    @Html.Label("Kategori")
@Html.DropDownList("DrpKategori", Model.Kategoriler, "-- Kategori Seçiniz --", new { @class = "form-control" })
<br /><br />
@Html.Label("Ürün")
@Html.DropDownList("DrpUrun", Model.Urunler, "-- Ürün Seçiniz --", new { @class = "form-control" })
</div>


